@model RentACar.Models.Vozilo

@{
    ViewBag.Title = "Details";
}

<h2>Детали за @Model.ModelName</h2>

<div class="border rounded">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="@Model.ImageUrl" class="img-thumbnail" style="width: 70%;" />
            </div>
        </div>
        <br/><br/>
        <div class="row ml-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        Цена:<b> @Model.PriceDay € </b>
                    </div>

                    <div class="col-sm-6">
                        Категорија: <b>@Model.Kategorija.Name </b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Производител: <b>@Model.Proizvoditel.Name </b>
                    </div>

                    <div class="col-sm-6">
                        Модел: <b>@Model.ModelName </b>
                    </div>
                </div>

                <!--Godina, Gorivo, Menuvac, Registracija, Moknost -->

                <div class="row">
                    <div class="col-sm-6">
                        Година: <b>@Model.Godina</b>
                    </div>

                    <div class="col-sm-6">
                        Гориво: <b>@Model.Gorivo</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Менувач: <b>@Model.Menuvac</b>
                    </div>

                    <div class="col-sm-6">
                        Регистрација: <b>@Model.Registracija</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Сила на моторот: <b>@Model.Moknost kw </b>
                    </div>

                    <div class="col-sm-6">
                        Локација: <b>@Model.Location</b>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-6">
                        Сопственик: <b>@Model.Sopstvenik.Name @Model.Sopstvenik.LastName</b>
                    </div>

                    <div class="col-sm-6">
                        Телефон: <b>@Model.Sopstvenik.Telefon</b>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        Email: <b>@Model.Sopstvenik.email </b>
                    </div>

                    
                </div>

            </div>
        </div>
    </div>
</div>
<br />
@for (var i = 0; i < 10; i++)
{
    if (i+1 <= ViewBag.averageRating)
    {
        <i><span class="fa fa-star"></span></i>
    }
    else if (i+1 > ViewBag.averageRating && i < ViewBag.averageRating)
    {
        <i><span class="fa fa-star-half-o"></span></i>
    }
    else
    {
        <i><span class="fa fa-star-o"></span></i>
    }
}
<h4>Коментари</h4>
<div class="border rounded">
    <div class="container mr-3">
        @if (User.IsInRole("User"))
        {
            <form class="form-group bg-light rounded border m-2 mr-form-comment p-3" action="/Komentars/DodadiKomentarZaVozilo/@Model.VoziloId" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <label><i class="ml-3 fa fa-comment-o"> Нов коментар:</i></label>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3">
                        <div class="row ml-3">
                            <label class="control-label col-md-3" for="Rating">Rating</label>
                            <div class="col-md-6">
                                <select class="form-control text-box single-line" data-val="true" data-val-number="The field Rating must be a number." data-val-required="The Rating field is required." id="Rating" name="Rating" type="text" value="">
                                    <option value="10">10</option>
                                    <option value="9">9</option>
                                    <option value="8">8</option>
                                    <option value="7">7</option>
                                    <option value="6">6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Rating" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-lg-12">
                                <button class="btn btn-primary mb-2"><i class="fa fa-mail-reply"> Коментирај</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-9 col-md-9 col-sm-12">
                        <label class="control-label col-md-2" for="Description">Description</label>
                        <textarea class="form-control text-box mb-2" id="Description" name="Description"></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    <label class="control-label col-md-2" for="VoziloId">VoziloId</label>
                    <div class="col-md-10">
                        <select class="form-control" id="VoziloId" name="VoziloId">
                            <option>@Model.VoziloId</option>
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="VoziloId" data-valmsg-replace="true"></span>
                    </div>
                </div>


            </form>
        }

        @foreach (var k in Model.Komentari)
        {
            <div class="row bg-light border rounded m-2  mr-form-comment">
                <div class="col-lg-12 mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            @k.Korisnik.Name @k.Korisnik.LastName
                        </div>
                        <div class="col-lg-6">
                            <span>
                                Рејтинг: <br />
                                <div>
                                    @for (var i = 0; i < 10; i++)
                                    {
                                        if (i < k.Rating)
                                        {
                                            <i><span class="fa fa-star"></span></i>
                                        }
                                        else
                                        {
                                            <i><span class="fa fa-star-o"></span></i>
                                        }

                                    }
                                    @k.Rating
                                </div>
                            </span>
                        </div>
                    </div>
                    <span>@k.Description</span> <br />
                    <br />
                </div>
            </div>
        }
    </div>

</div>

<p>
    @*
        @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.VoziloId }) <span> | </span>
        }
    *@

    @Html.ActionLink("Назад кон сите возила", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}