@model RentACar.Models.PrebaruvajModel
@{
    ViewBag.Title = "Пребарувај";
}
<h2>Пребарувај</h2>

@using (Html.BeginForm("PrebaruvajRezultati", "Voziloes", FormMethod.Post) )
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.cenaOd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cenaOd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cenaOd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cenaDo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cenaDo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cenaOd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.godinaOd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.godinaOd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.godinaOd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.godinaDo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.godinaDo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.godinaDo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Podredi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Podredi, new SelectList(ViewBag.Podredi), new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Gorivo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Gorivo, new SelectList(ViewBag.Gorivo), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Menuvac, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Menuvac, new SelectList(ViewBag.Menuvac), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registracija, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Registracija, new SelectList(ViewBag.Registracija), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Lokacija, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Lokacija, new SelectList(ViewBag.Lokacija), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Пребарај" class="btn btn-primary btn-lg" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Назад", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
