@model IEnumerable<RentACar.Models.Korisnik>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("User"))
{
    <h2>Лични податоци</h2>
}
else
{
    <h2>Корисници</h2>
}


@if (Model.Count() == 1)
{
    foreach (var item in Model)
    {
        <div class="border rounded bg-light">
            <div class="row mr-3 p-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.DisplayNameFor(model=>model.Name)
                        </div>
                        <div class="col-lg-6">
                            @Html.DisplayFor(modelItem=>item.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.DisplayNameFor(model => model.LastName)
                        </div>
                        <div class="col-lg-6">
                            @Html.DisplayFor(model=>item.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.DisplayNameFor(model => model.Address)
                        </div>
                        <div class="col-lg-6">
                            @Html.DisplayFor(mode=>item.Address)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.DisplayNameFor(model=>model.Age)
                        </div>
                        <div class="col-lg-6">
                            @Html.DisplayFor(model=>item.Age)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.DisplayNameFor(model => model.email)
                        </div>
                        <div class="col-lg-6">
                            @Html.DisplayFor(model=>item.email)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @*@Html.DisplayNameFor(model => item.Name)*@
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @*@Html.DisplayNameFor(model => item.Name)*@
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                        @Html.ActionLink("Промени податоци", "Edit", new { id = item.KorisnikId })
                        @if (User.IsInRole("Administrator"))
                        {
                            <span> | </span>
                            @Html.ActionLink("Избриши", "Delete", new { id = item.KorisnikId })
                        }
                </div>
                </div>
            </div>
        }
}
else
{

                    <table id="tabela" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Age)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th><b>Опции</b></th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        <a href="/Korisniks/Edit/@item.KorisnikId">
                                            <button class="btn btn-primary m-2">
                                                Промени
                                            </button>
                                        </a>
                                        <a href="/Korisniks/Details/@item.KorisnikId">
                                            <button class="btn btn-primary m-2">
                                                Детали
                                            </button>
                                        </a>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <a href="/Korisniks/Delete/@item.KorisnikId">
                                                <button class="btn btn-danger m-2">
                                                    Избриши
                                                </button>
                                            </a>
                                         }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    @section Scripts{

                        <script>
                            $(document).ready(function () {
                                $("#tabela").DataTable();
                            });
                        </script>

                    }
