<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopCarMK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9Uunys_5M-lmoPAUatWQXMX7N74ZvXyn9sOQ5_k5ASIjvhsW-&usqp=CAU" class="navbar-brand img-rounded p-0" /></a>
                

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Мои возила", "Index", "Voziloes")</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Возила", "Index", "Voziloes")</li>
                    }

                    <li>@Html.ActionLink("Категории", "Index", "Kategorijas")</li>

                    <li>@Html.ActionLink("Производители", "Index", "Proizvoditels")</li>

                    @if (User.IsInRole("User") || !User.IsInRole("Administrator") &&  !User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Пребарувај", "Prebaruvaj", "Voziloes")</li>
                    }



                    @if (!User.IsInRole("Administrator") || !User.IsInRole("User") || User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Продај возило", "Create", "Voziloes")</li>
                    }






                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Сопственици", "Index", "Sopstveniks")</li>
                    }




                    @if (User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Лични податоци", "Index", "Sopstveniks")</li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Корисници", "Index", "Korisniks")</li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Коментари", "Index", "Komentars")</li>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Мои коментари", "Index", "Komentars")</li>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Лични податоци", "Index", "Korisniks")</li>
                    }


                    @*
        @if (User.IsInRole("Administrator"))
        {
            <li>@Html.ActionLink("Додај пермисии", "AddUserToRole", "Account")</li>
        }
                    *@


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
      
        @RenderBody()
       
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year   ShopCarMK</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
